ul {list-style-type: none;}

.list-image {display: block; height: auto; object-fit: cover;}

.gallery {
    max-width: 1200px;
    display: flex;
    gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
}